# Omniverse
**/*.dmp
**/.thumbs

# Python
.DS_Store
**/*.egg-info/
**/__pycache__/
**/.pytest_cache/
**/*.pyc
**/*.pb

# IDE
**/.idea/
**/.vscode/
/.vscode/
/.cursor/
/docks/
/tests/
/docs/

# Outputs
**/runs/*
**/logs/*
**/recordings/*
**/output/*
**/outputs/*
**/videos/*
**/wandb/*
**/.neptune/*
docker/artifacts/
*.tmp
logs
outputs
.history/
.omx/
MUJOCO_LOG.TXT
data/__MACOSX/

# Isaac-Sim packman
_isaac_sim*
_repo
_build
.lastformat
